html,
body {
  margin: 0;
  padding: 0;
  background: var(--body-bg);
  
}

:root {
  --font-family: "Karla", sans-serif;
  --body-bg: #1e1f25;
  --btn-bg: #000;
  --btn-color: #cbcbcb;
  --btn-color-hover: #fff;
  --grad-color1: #eeaf61;
  --grad-color2: #fb9062;
  --grad-color3: #ee5d6c;
  --grad-color4: #ce4993;
  --grad-color5: #6a0d83;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.button-border {
  padding: 2px;
}

.button {
  padding: 1em 1.5em;
  color: var(--btn-color);
  font-family: var(--font-family);
  font-size: 1.5rem;
  background: var(--btn-bg);
  border: 3px solid;
  border-image-source: linear-gradient(
    90deg,
    var(--grad-color1),
    var(--grad-color2),
    var(--grad-color3),
    var(--grad-color4),
    var(--grad-color5)
  );
  border-image-slice: 1;
}

.button:hover {
  padding: 1.1em 1.6em;
  color: var(--btn-color-hover);
  border: 3px solid;
  border-image-source: linear-gradient(
    90deg,
    var(--grad-color5),
    var(--grad-color4),
    var(--grad-color3),
    var(--grad-color2),
    var(--grad-color1)
  );
  border-image-slice: 1;
}
